
<!-- TOP BAR -->
<div class="top-bar">
    <h1> Budget Calculator Program </h1>
</div>

<!-- TOTAL BUDGET -->
<section class="total-budget-section">
    <h2 class="green">1500</h2>
</section>

<!-- ADD ITEM -->
<section class="add-item-section">
    
    <div class="add-item-container">
        <app-add-item-form style="padding: 20px;margin: 10px;display: block;" (formSubmit)="addItem($event)"></app-add-item-form>
    </div>
</section>

<hr style="margin-top: 5px"> 

<app-budget-item-list [budgetItems]="budgetItems" (delete)="deleteItem($event)" ></app-budget-item-list>