
<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="field is-horizontal">

        <!-- Horizontal Div -->
        <div class="field-body">

            <!-- Amount Field -->
            <div class="field is-narrow">
                <p class="control">
                    <input type="number" class="input" placeholder="Amount" style="width: 150px;">
                </p>
            </div>

            <!-- Tag Field-->
            <div class="field">
                <p class="control">
                    <input type="text" class="input" placeholder="Tag">
                </p>
            </div>

            <!-- Add Button-->
            <div class="field is-narrow" >
                <button type= "submit" class="button is-primary is-narrow"> Add </button>
            </div>
        </div>
    </div>
</form>