
@import '../../../main-styles.scss';

.root {
    position: relative;
    display: flex;
    width: 100%;

    &:hover{
        .x-icon-button{
            opacity: 1;
            transform: scale(1);
        }
    }

    .x-icon-button{
        position: absolute;
        height: 40px;
        width: 40px;
        
        border-radius: 50%;
        
        background: lighten($light-red,15%) ;
        background-image: url('../../../assets/images/clear.png');
        background-repeat: no-repeat;
        background-position: center ;
        // radius 
        right: -20px;
        top: -20px;

        transition: opacity 0.2s ease-in, transform 0.2s ease-in;
        transform: scale(0);
        opacity: 0;

        &:hover{

            transform: scale(1.2);
            background-color: $light-red;

            cursor:pointer;
        }
    }

}

.budget-item {
    display: flex;
    width: 100%;

    background-color: $light-grey;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.4s ease-out;

    .description{
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;

        // horizontal - vertical center
        justify-content: center;
        align-items: center;
    }
    
    .amount{
        padding: 5px;
        border-radius: 3px;
    }

    &:hover{
        background-color: darken($light-grey,5%);
    }
}

.expense {

    p{
        color: $red;
    }

    .amount{
        background-color: $light-red;
    }

}   

.income {

    p{
        color: $green;
    }

    .amount{
        background-color: $light-green;
    }

}   


