
// import main-styles
@import '../../main-styles.scss';

.budget-items-section{

    display: flex;
    padding: 50px;

    // horizontal - vertical center
    justify-content: center;
    align-items: center;

    .budget-items-container{
        display: flex;
        max-width: 680px;
        height: 100%;
        width: 100%;

        .income-column , .expense-column{
            
            display: flex;
            flex-direction: column;
            flex-basis: 0; // columns will be the same size
            flex-grow: 1;

            h1{
                font-family: 'Lato';
                font-size: 25px;
                font-weight: 900;
                text-transform: uppercase;
            }
        }

        .income-column{
            margin-right: 35px;

            h1{
                color: $green;
            }
        }

        .expense-column{
            margin-right: 35px;

            h1{
                color: $red;
            }
        }
    }
}